*.pt
*.sh
cyclonedds_host.xml

build/
captures_videos/
distance_logs/
install/
log/
Log/
src/yolo_detectors/resource
src/yolo_detectors/test
src/yolo_detectors/config
src/yolo_detectors/yolo_detectors/build
src/yolo_detectors/yolo_detectors/install
src/yolo_detectors/yolo_detectors/log