# Data files (videos and weights)
*.avi
yolo26n.pt
yolov8s-world.pt
stgcn_lancer.pt
books.pt
*.pth

# Python files
__pycache__/
*.pyc

# Node files
test_subscriber_node.py
yolo_world_node.py
train_stgcn.py
inference_stgcn_node.py
collect_data_node.py
double_detection_node.py
mathematical_throw_detection_node.py
test_subscriber_node.py
lstm_node.py

# Other files (ide, env, ...)
cyclonedds_host.xml
*.db
.env
setup_env.sh
.vscode/

# Build directories
build/
install/
log/
**/build/
**/install/
**/log/

# Packages directories
src/yolo_detectors/test
src/g1_arm_control/test

# Other directories
Log/
data/
.vscode/
